*
{
    color: white;
    font-family: 'Roboto', sans-serif;
}

body
{
    margin: 0;
    padding: 0;
    background: #42424e; 
    
}

@media (min-width:320px)
{
    main
    {
    
        width: 95%;
        margin: 60px auto;
        background-color: rgba(30, 26, 40, 0.767);
        box-sizing: border-box;
        display: flex;
        backdrop-filter: grayscale() blur(10px);
        box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.719);
        flex-wrap: wrap;
    }
    #menu 
    {
    background-color: rgba(53, 43, 80, 0.863);
    width: 100%;
    }

    .conteudo
    {
    width: 100%;
    height: 100%;
    background-color: transparent;
    }

   #menu #botoes 
   {
       margin-top: 20px;
       margin-left: 0px;
       display: none;
       position: relative;
       border-radius: 2px;
   }
   

   #foto a  img 
   {
       margin-top: 50px;
   }

   #foto a 
   {
       margin-top: 50px;
       text-align: center;
       margin-left: 37%;
      
   }

#botoes a 
{
    
    padding: 15px 40px 15px 40px ;
    text-decoration: none;
    text-align: justify;
    display: block;
    position: relative;
}

#botao-hamb
{
    display: block;
    margin-left: 28%;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px ;
}


#foto a img
{
    width: 100px;
    height: 100px;
}

#menu div 
{
    display: none;
}
.conteudo 
{
    display: table;
}
.conteudo div
{
    margin: 50px 25px 50px 25px;
}

.conteudo #pagSobre p
{
    margin-top: 50px;
    text-align: justify;
}
.conteudo #pagSobre h1 
{
    display: inline;
    border-bottom: solid 2px rgb(235, 73, 132);
    font-size: 25px;
}
hr
{
    color: rgb(235, 73, 132);
}
.conteudo #pagSobre h2
{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

.conteudo #pagSobre a 
{

    margin-top: 50px;
    font-size: 20px;
    margin-left: 48%;
    
    
}

#pagSkill 
{
    display: block;
    flex-direction: column;
}

#pagSkill div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#pagSkill h1
{
    display: inline;
    border-bottom: solid 2px rgb(235, 73, 132);
    font-size: 25px;
}

#pagSkill div div
{
    width: 10%;
    margin: 0px 50px 0 50px;
    display: flex;
}


.botaoClick
{
    box-sizing: border-box;
    border-bottom: solid 3px rgb(235, 73, 132) ;
    border-left: none;
    color: rgb(235, 73, 132) ;
}
#botoes :nth-child(1):hover,#botoes :nth-child(2):hover,#botoes :nth-child(3):hover, #botoes :nth-child(4):hover
{
    background-color: rgba(255, 255, 255, 0.075);
}

i:hover{
    color: rgb(235, 73, 132) ;
}



}

@media (min-width:480px)
{

    

    #menu #botoes 
    {
        margin-top: 20px;
        display: none;
        position: relative;
        border-radius: 2px;
    }
 
    #foto a  img 
    {
        margin-top: 20px;
    }
 
    #foto a 
    {
        margin-top: 50px;
        text-align: center;
        margin-left: 40%;
       
    }
 
 #botoes a 
 {
     
     padding: 15px 40px 15px 40px ;
     text-decoration: none;
     text-align: justify;
     display: block;
     position: relative;

 }
 
 #menu div 
 {
     display: none;
 }

}

@media (min-width:600px) 
{


    main
    {
    
        width: 90%;
        margin: 60px auto;
        background-color: rgba(30, 26, 40, 0.767);
        box-sizing: border-box;
        display: flex;
        backdrop-filter: grayscale() blur(10px);
        box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.719);
        flex-wrap: wrap;
    }
    .conteudo div 
{
    margin: 50px 50px 50px 50px;
}

    #menu #botoes 
    {
        margin-top: 20px;
        display: none;
        position: relative;
        border-radius: 2px;
    }
 
    #foto a  img 
    {
        margin-top: 20px;
    }
 
    #foto a 
    {
        margin-top: 50px;
        text-align: center;
        margin-left: 42%;
       
    }
 
 #botoes a 
 {
     
    display: block;
     padding: 15px 40px 15px 40px ;
     text-decoration: none;
     text-align: justify;
     position: relative;
 }

 #menu div 
{
    display: none;
}
 
 #foto a img
 {
     width: 100px;
     height: 100px;
 }
}

@media (min-width:801px)
 { 
    main
    {
    
        width: 85%;
        margin: 60px auto;
        background-color: rgba(30, 26, 40, 0.767);
        box-sizing: border-box;
        display: flex;
        backdrop-filter: grayscale() blur(10px);
        box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.719);
        flex-wrap: wrap;
    }
    #menu #botoes 
    {
        margin-top: 20px;
        margin-left: 20%;
        display: inline-block  !important;
        background: none;
        position: relative;
        justify-content: center;
    }
 
    #foto a  img 
    {
        margin-top: 20px;
    }
 
    .conteudo div 
{
    margin: 50px 50px 50px 50px;
}
    #foto a 
    {
        margin-top: 50px;
        text-align: center;
        margin-left: 43%;
       
    }
    #botao-hamb 
{
    display: none;
}
   
 
 #botoes a 
 {
     
     display: inline-block;
     padding: 15px 40px 15px 40px ;
     text-decoration: none;
     text-align: center;
    background: none;
 }
 
 #foto a img
 {
     width: 100px;
     height: 100px;
 }

 #menu div 
 {
     margin-top: 30px;
     margin-bottom: 30px;
     margin-left: 47%;
     display: block;
 }

 }

 @media (min-width:1025px)
 {
    main
{

    width: 80%;
    margin: 60px auto;
    background-color: rgba(30, 26, 40, 0.767);
    box-sizing: border-box;
    display: flex;
    backdrop-filter: grayscale() blur(10px);
    box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.719);

}

#menu 
{
    background-color: rgba(53, 43, 80, 0.863);
    width: 20%;
}
.conteudo
{
    width: 80%;
    height: 100%;
    background-color: transparent;
}

#menu #botoes 
   {
       margin-top: 40px;
       margin-left: 0;
       background: none;
       display: block !important;
       position: relative;
   }

   #foto a  img 
   {
       margin-top: 50px;
   }

   #foto a 
   {
       margin-top: 90px;
       text-align: center;
       margin-left: 20%;
      
   }
  

#botoes a 
{
    
    display: block;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    text-align: justify;
    font-size: 18px;
    background: none;
    cursor: pointer;
    transition: all 0.3ms;

}

#foto a img
{
    width: 100px;
    height: 100px;
}


#menu ul a
{
    float: none;
    text-align: center;
    display: inline-block;
    margin-top: 30px;   
    margin-bottom: 10px; 
    margin-left: 25%;
}
#botao-hamb 
{
    display: none;
}
#menu div 
 {
     margin-top: 30px;
     margin-bottom: 30px;
     margin-left: 40%;
     display: block;
 }

.conteudo 
{
    display: table;
}
.conteudo div
{
    margin: 50px 50px 0 50px;
}

.conteudo #pagSobre p
{
    margin-top: 50px;
    text-align: justify;
}
.conteudo #pagSobre h1
{
    display: inline;
    border-bottom: solid 2px rgb(235, 73, 132);
    font-size: 25px;
}
hr
{
    color: rgb(235, 73, 132);
}
.conteudo #pagSobre h2
{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

.conteudo #pagSobre a 
{

    margin-top: 50px;
    font-size: 20px;
    margin-left: 48%;
    margin-bottom: 50px;
    
}
#pagSkill h1
{
    display: inline;
    border-bottom: solid 2px rgb(235, 73, 132);
    font-size: 25px;
}

#pagSkill div div
{
    width: 10%;
    margin: -50px 30px 0 30px;
    padding: 50px 20px 25px 20px;
    display: flex;
}
#pagSkill div div p
{
    text-align: center;
    padding-left: 5px;
}

#pagSkill div
{
    margin-top: 50px;
    padding: 0;
}

.botaoClick
{
    box-sizing: border-box;
    border-left: solid 3px rgb(235, 73, 132) ;
    border-bottom: none;
    color: rgb(235, 73, 132) ;
}
#botoes :nth-child(1):hover, #botoes :nth-child(2):hover, #botoes :nth-child(3):hover,#botoes :nth-child(4):hover
{
    background-color: rgba(255, 255, 255, 0.075);
}

i:hover{
    color: rgb(235, 73, 132) ;
}


 }


 
/* Eventos JS */ 

.abrir
{
    display: block;
}
